#root {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.container {
    padding: 15px 50px;
}

.header {
    margin: 0px;
    text-align: center;
}

input {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.button {
    cursor: pointer;
    height: 50px;
    width: 25%;
    border-radius: 10px;
    background-color: gray;
    color: black;
    font-size: 16px;
}

.button:hover{
    background-color: white;
    transition: all 300ms ease-in-out;
}

.todo-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 25px;
    max-width: 75%;
    width: 75%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* color: white;
    height: 600px; */
}