.box {
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    padding: 20px;
    width: inherit;
}

.active-box {
    border-color: green;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    color: green;
    display: flex;
    padding: 20px;
    width: inherit;
}

.button-container {
    display: flex;
    gap: 5px;
    margin-left: auto;
}